.navbar {
    box-shadow: 0 2px 4px 0 rgba(182,182,182,0.5);
}

.footer {
    background: #000000;
    color: white;
}

.fa-facebook {
    font-size: 1.2rem;
    color: white;
}

.fa-facebook:hover {
    text-decoration: none;
    color: white;
}


.footer-bottom {
    text-align: center;
}

html, body a:hover {
    text-decoration: none;
}

html, body ul a:hover {
    text-decoration: none;
}


html, body .text-white {
    color: black !important;
}


.card {
    width: 500px !important;
    max-width: 400px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.btn_cancel:hover {
    background-color: white !important;
}